h1 {font-size: 100px;}
h2{font-size: 60px;}
body{background-color: gold;}
.picture{
    border-radius: 200px;
}
#apresent{
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
ol li {font-weight: bold;
    
    line-height: 30px;
    color: indigo;
    list-style: circle;
}
#foto_2{
    font-size: 40px;
}
#site_2{
    font-size: 40px;
}
.apresentacao{
    border: 2px solid red;
}
.apresentacao h1{
    text-align: center;
} 
.apresentacao img{
    padding: 100px;
    background-color: green;
}
#apresent{
    padding: 40px;
    background-color: yellowgreen;
}
ol li.impar{
    background-color: yellow;
    font-style: italic;
}